<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Добавить судью</title>
</head>
<body>
<div class="container mt-5">
    <h2>Добавить судью</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="form-group">
            <label for="referee_id">Выберите судью</label>
            <select class="form-control" id="referee_id" name="referee_id" required>
                <option value="">Выберите судью</option>
                {% for referee in referees %}
                    <option value="{{ referee.id_referees}}">{{ referee.fio }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Создать документ</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Назад</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
